annotated-doc==0.0.4
click==8.3.1
gitdb==4.0.12
GitPython==3.1.46
inquirerpy==0.3.4
markdown-it-py==4.0.0
mdurl==0.1.2
pfzy==0.3.4
prompt_toolkit==3.0.52
Pygments==2.19.2
rich==14.3.3
setuptools==82.0.1
shellingham==1.5.4
smmap==5.0.3
typer==0.24.1
wcwidth==0.6.0
